$backgrounColor-body: #a9d1d4;
$backgroundColor-input: #cae6e8;
$backgroundColor-button: #3b5961;
$backgroundColor-nav: yellow;
$hoverButton: #445e63;
$padding: 10px;
$border-radius: 10px;
$color-placeholder: #4e5b5e;
$color-button: #000;
$color-message-error: red;
$bc-nav: salmon;
$box-sizing: border-box;
